/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 242, 244);
    color:black
}

.header {
    background-color: rgb(244, 123, 153);
    color: rgb(255, 240, 249);
    padding: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: center;
}
.nav-menu {
    background-color: rgb(255, 171, 192);
    list-style: none;
    margin-top: 10px;
    text-align: center;
    padding: 25px;
    margin: 25px;
    border-radius: 10px;

}

.nav-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

.nav-menu li {
    margin: 0 15px;
}

.nav.menu a {
    color: aliceblue;
    text-decoration: none;
}

.imagem {
    width: 470px;
    background-color: rgb(251, 224, 228);
    border: 1px solid rgb(255, 202, 210);
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    color: rgb(176, 86, 107);
    flex-shrink: 0;
}

.imagem:hover {
    transform: scale(1.05);
    border-color: rgb(255, 55, 85);
}

.dados {
    background-color: rgb(255, 171, 192);
    color: rgb(255, 255, 255);
    padding: 50px;
    width: 100%;
    text-align: center;
    margin: 35px;
}

.info {
    background-color: rgb(255, 214, 224);
    text-align: center;
    padding: 35px;
    margin: 200px;
    border-radius: 10px;
    margin: 35px;
    width: 800px;
    margin: 0 auto;
}
.contatos {
    background-color: rgb(255, 214, 224);
    text-align: center;
    padding: 35px;
    margin: 200px;
    border-radius: 10px;
    margin: 35px;
    width: 800px;
    margin: 0 auto;
}

.estudo {
    background-color: rgb(255, 214, 224);
    text-align: center;
    padding: 35px;
    margin: 200px;
    border-radius: 10px;
    margin: 35px;
    width: 800px;
    margin: 0 auto;
}

.quali {
    background-color: rgb(255, 214, 224);
    text-align: center;
    padding: 35px;
    margin: 200px;
    border-radius: 10px;
    margin: 35px;
    width: 800px;
    margin: 0 auto;
}

.like {
    background-color: rgb(255, 214, 224);
    text-align: center;
    padding: 35px;
    margin: 200px;
    border-radius: 10px;
    margin: 35px;
    width: 800px;
    margin: 0 auto;
}

.perfil {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin: 50px auto;
}

.info-list {    
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    gap: 20px;
    padding: 0px;
    justify-content: center;
}

.nome:hover {
    transform: scale(1.05);
    border-color: rgb(255, 55, 85);
}

.idade:hover {
    transform: scale(1.05);
    border-color: rgb(255, 55, 85);
}

.nasci:hover {
    transform: scale(1.05);
    border-color: rgb(255, 55, 85);
}

.email:hover {
    transform: scale(1.05);
    border-color: rgb(255, 55, 85);
}

.info-list li {
    width: 230px;
    height: 90px;
    background-color: rgb(251, 224, 228);
    border: 1px solid rgb(255, 202, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.info-list li span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-list h5 {
    color: rgb(176, 86, 107);
}

.label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.value {
    display: block;
}

/*configuração tela*/
@media (max-width: 1024px) {
    body {
        background-color: rgb(255, 242, 244);
    }
}

@media (max-width: 768px) {
    body {
        background-color: rgb(255, 242, 244);
    }
}

/*======================
curiosidades
====================*/
.curiosidades{
    width:90%;
    max-width:800px;
    margin:40px auto;
    text-align:center;
    background:#ffd6e0;
    padding:30px;
    border-radius:10px;
}

#btnCuriosidade{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#f47b99;
    color:white;
    font-size:16px;
}

#btnCuriosidade:hover{
    background:#d85c7d;
}

#curiosidade{
    margin-top:20px;
    font-size:18px;
    font-weight:bold;
}

/*==============================
TEMA ESCURO
============================*/
/* Fundo da página */
.dark{
    background-color:rgb(53, 23, 30);
    color:white;
}

/* Cabeçalho */
.dark .header{
    background:rgb(105, 20, 40);
}

/* Menu */
.dark .nav-menu{
    background:rgba(223, 44, 86, 0.325);
}

.dark .dados {
background-color: rgba(105, 20, 40, 0.625);
}

/* Todas as caixas */
.dark .imagem,
.dark .info,
.dark .contatos,
.dark .estudo,
.dark .quali,
.dark .like,
.dark .curiosidades,
.dark .info-list li{
    background:rgb(116, 39, 59);
    color:white;
    border-color:rgb(106, 25, 45);
}



/* Títulos menores */
.dark h5{
    color:#ffd6e0;
}

/* Links */
.dark a{
    color:white;
}


#tema{
    position: center;
    right:30px;
    top: 25px;

    padding:10px 15px;

    border:none;
    border-radius:8px;

    cursor:pointer;

    background:#ffdae4;
    color:#333;

    font-weight:bold;
}

#tema:hover{
    background:#ffeaf0;
}

